@use 'variables' as *;
@use 'mixins' as *;

.user {
  padding: $spacing-unit;

  h2 {
    margin-bottom: $spacing-unit;
    color: $primary-color;
    font-size: 1.75rem;
  }

  &__form {
    margin-bottom: $spacing-unit * 2;
    background-color: #fff;
    border-radius: $border-radius;
    padding: $spacing-unit;
    @include shadow(1);
  }

  &__list {
    margin-top: $spacing-unit;
  }
}
