@use '../../../../assets/scss/variables' as *;
@use '../../../../assets/scss/mixins' as *;

.category {
  background-color: #f8f9fa;
  padding: $spacing-unit;
  border-radius: $border-radius;
  @include shadow(1);
  margin-bottom: $spacing-unit * 2;

  h3 {
    margin-top: $spacing-unit * 2;
  }
}
