<div class="entity-list">
  @if (entities.length === 0) {
    <div class="entity-list__empty-message">
      Nenhum item encontrado.
    </div>
  }

  @if (entities.length > 0) {
    <table class="entity-list__table">
      <thead>
        <tr>
          @for (column of displayedColumns; track column) {
            <th>{{ column }}</th>
          }
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (entity of entities; track entity.id) {
          <tr>
            @for (column of displayedColumns; track column) {
              <td>{{ entity[column] }}</td>
            }
            <td>
              <button
                class="entity-list__actions--delete"
                type="button"
                (click)="delete.emit(entity.id)"
              >
                Excluir
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
